hello world<br /><br />

@query by type<br />
{@query type="store:book"}
    <table>
    {#rows}
        <tr>
            <td>{_doc}</td>
            <td>{title}</td>
        </tr>
    {/rows}
    </table>
{/query}


{@content id="da2b9e754b2d3eeac731"}
    <p>
        @content by id: {content.title} {content._doc}<br />
    </p>
{/content}


{@content path="/Categories/Classics/Books/Romeo_and_Juliet"}
    <p>
        @content by path: {content.title} {content._doc}<br />
    </p>
{/content}

@query by geo location<br />
{@query skip="0" limit="5" type="store:book" near="-92.0,32.3"}
    <table class="table">
    {#rows}
        <tr>
            <td>{title}</td>
            <td>{_doc}</td>
        </tr>
    {/rows}
    </table>
{/query}

<br />
@query by geo location<br />
{@query skip="0" limit="5" type="store:book" near="-43.0,50.0"}
    <table class="table">
    {#rows}
        <tr>
            <td>{title}</td>
            <td>{_doc}</td>
        </tr>
    {/rows}
    </table>
{/query}
